ul.accordion-list {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  width: 100%;
  height: auto;
  list-style: none;
}

ul.accordion-list li {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0 auto 15px auto;
  padding: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #FFF;
  cursor: pointer;
}

ul.accordion-list li.active h3:after {
  transform: rotate(45deg);
}

ul.accordion-list li h3 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  height: auto;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

ul.accordion-list li h3:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #Fcc110;
  content: "+";
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

ul.accordion-list li div.answer {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  cursor: pointer;
}

ul.accordion-list li div.answer p {
  position: relative;
  display: block;
  margin: 0 0 15px 0;
  padding: 10px 0 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;
}
