.code-demo {
  overflow: auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #8bc5ec38;
}

.code-demo b {
  display: block;
  margin-bottom: 0.5rem;
  color: #4b50aa;
  font-size: 1rem;
  opacity: 0.7;
}

.code-demo span {
  display: block;
  margin-bottom: 1rem;
}
