.image-filter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-filter__button {
  margin-bottom: 2rem;
}

.image-filter__list {
  display: flex;
  flex-flow: row wrap;
}

.image-filter__list li {
  flex: 1;
  margin: 10px;
  min-width: 260px;
}

.image-filter__list li img {
  width: 100%;
}
