.nav {
  position: absolute;
  top: -80px;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  color: #4B50AA;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 300ms;
}

.nav a:hover {
  background-color: white;
}

.nav a.active {
  background-color: white;
}

@media screen and (max-width: 566px) {
  .nav {
    word-break: keep-all;
    overflow: auto;
  }
}
