#tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 5px 10px;
  background-color: white;
  box-shadow: -5px 0px 15px -5px #0000007a;
}

#tooltip::after {
  position: absolute;
  left: 50%;
  margin-left: 8px;
  width: 0px;
  border-top: 18px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: '';
}
